{{define "main"}}
<header>
	<span><a href="/">
		<img
			id="evids"
			src="/logo.png"
			alt="EVIDS"
			onmouseover="evids.src='/bold-logo.png'"
			onmouseout="evids.src='/logo.png'"
		></img>
	</a></span>
</header>
<main>
	You're home now!
</main>
{{end}}
