<!doctype html>
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>evids</title>
		<link rel='stylesheet' href='/main.css'>
		<link rel='shortcut icon' href='/favicon.png'>
	</head>
	<body>
		<header>
			<span><a href="/">
				<img
					id="evids"
					src="/logo.png"
					alt="EVIDS"
					onmouseover=evids.src='/bold-logo.png'
					onmouseout=evids.src='/logo.png'
				></img>
			</a></span>
			{{ if .Artist }}
			<span class="artist"><a href="{{.Artist}}">
				<img class="artist" src="{{.Artist}}/logo.png" alt="{{.Artist}}">
			</a></span>
			{{ end }}
		</header>
		<main>
			<ol class="heading">
				<li class="name">NAME</li>
				<li class="size">SIZE</li>
				<li class="time">TIME</li>
			</ol>
			{{ range .Entries}}
			<a href="{{.Path}}">
				<ol class="entry">
					<li class="name">{{.Name}}</li>
					<li class="size">{{.Size}}</li>
					<li class="time">{{.Time}}</li>
				</ol>
			</a>
			{{end}}
		</main>
	</body>
</html>
