*:root {
	font-size: 15px;
}
::selection {
	color: white;
	background-color: #327345;
}

img {
	image-rendering: pixelated;
	height: calc(2rem + 2vw);
}
header > a:last-child {
	float: right;
}
header > * {
	margin: 0;
}

body {
	font-family: monospace;
	background-color: #327345;
	margin: 0;
	padding: 0 3vw;
}
body > * {
	margin: 1rem auto;
	padding: 2vw;
	max-width: 80ch;
	border-width: 4px;
	border-style: outset;
	background-color: #ccc;
}

a {
	text-decoration: none;
	color: unset;
}
ol {
	font-weight: bold;
	margin: 0;
	padding: 0.8rem;
	display: flex;
	list-style-type: none;
}
ol.entry:hover {
	text-decoration: underline;
	color: white;
	background-color: #327345;
}
ol.heading {
	color: #327345;
}
li {
	flex: 1;
}
li.name {
	flex: 1.5;
}
